#
# /etc/hosts: static lookup table for host names
#

#<ip-address>	<hostname.domain.org>	<hostname>
{{ ansible_facts['default_ipv4']['address'] }}        {{ ansible_facts['fqdn'] }}   {{ ansible_facts['hostname'] }}
127.0.0.1       localhost.localdomain   localhost
::1             localhost.localdomain   localhost

# End of file
